<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
   {{>navbar}}
<!-- main header -->
<div class="container-fluid main_header">
    <div class= "row">
        <div class =" col-mid-10 col-12 mx-auto">
            <div class="row">
                <div  class="col-md-6 col-12 main_header_right algin-items-center">
                    <figure>
                        <img src="images/about.png" alt="My photo" class= "img-fluid" title="Aayush Dhiman">
                    </figure>
                </div>
                <div  class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather App</p>
                    <h1>I'm Aayush Dhiman and currently persuing B.Tech. A computer Enthusiast with zeal of learning the latest tech tends 
                         <span class= "text_clr"></span>  info of your city</h1>
                    <a href="https://www.linkedin.com/in/aayush-dhiman-416179181/"> <button>check now</button></a>

                   


                </div>

                
            </div>
        </div>
    </div>
</div>

{{>footer}}


</footer>
 
</body>
</html>